:root{
    --main-color: #ffff;
}
body{
    overflow-x: hidden;
}

.color-active{
    background-color: #325288;
    color: #fff;
}
.container{
    padding: 20px;
}
.important{
    margin-top: 15px;
    padding: 20px;
}
.card{
    margin: 20px;
}
.card-img{
    height: 200px;
    object-fit: cover;
}
.card-title, .card-text{
    color: #325288;
}
.del{
    color: rgba(50, 82, 136,0.8);
}

footer a{
    color: #24A19C;
}
footer a:hover{
    color: #D96098;
}
.btn-btn{
    margin-top: 30px;
    text-align: center;
}
.btn-login{
    background-color: #D96098;
    /* background-color: #FAEEE7; */
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}
.btn-login:hover{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    background-color: rgba(217, 96, 152,0.8);
    opacity: 1;
    color: #fff;
}

.info-roles{
    background-color: #fff;
    color: #325288;
    margin-right: 0;
    width: 100vw;
}

.prod_especialidad h5,.prod_conveniencia h5,.prod_comparacion h5,.prod_noBuscados h5{
    padding-top: 15px;
    margin-left: 120px;
    color: #325288;
}
.atencion_cliente h5{
    padding-top: 15px;
    margin-left: 140px;
    color: #325288;
}
.atencion_cliente{
    background-color: rgba(36, 161, 156,0.2);
    color: #fff;
}
.prod_conveniencia,.prod_comparacion,.prod_especialidad,.prod_noBuscados{
    background-color: #FAEEE7;
}

/* --------------------------------- LOGIN ------------------- */
.form-text{
    text-align: center;
    color: #325288;
}
.formulario{
    /* padding: 20px; */
    margin: 10px auto;
    width: 50%;
}
.form-name,.form-password,.form-correo{
    width: 100%;
    border-radius: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    margin-bottom: 10px;
    border-bottom: 3px solid #325288;
}
.form-name:focus,.form-password:focus,.form-correo:focus{
    border-bottom: 3px solid #D96098;
    color: #D96098;
}
.form-name:invalid,.form-password:invalid,.form-correo:invalid{
    border-bottom: 3px solid rgb(253, 90, 49);
    color: rgb(253, 90, 49);
}
.form-name:valid,.form-password:valid,.form-correo:valid{
    color: #325288;
    border-bottom: 3px solid #325288;
}
.btn-login-log{
    width: 100%;
    margin-bottom: 10px;
}
.label-rol, .label-area{
    width: 100%;
    font-size: 20px;
    color: #325288;
    font-weight: bold;
}
.select-rol, .select-area{
    font-size: 20px;
    width: 50%;
    outline: none;
}
/* .select-area:invalid, .select-rol:invalid{
    border: 3px solid rgb(253, 90, 49);
}
.select-area:valid, .select-rol:valid{
    border: 3px solid rgb(17, 160, 64);
} */
.select-rol,.select-area{
    cursor: pointer;
    color: #325288;
    border: 0;
    border-bottom: 2px solid #325288;
}
.select-area option,.select-rol option{
    margin-top: 5px;
    background-color: #325288;
    color: #fff;
}
.select-rol option:focus{
    background-color: #D96098;
}
.errFormato{
    padding: 10px;
    background-color: rgb(228, 53, 9,0.3);
    transition: all 0.5s ease-out;
}

.sp-rol{
    border-bottom: 3px solid #D96098;
    color: #D96098;
}
.sp-area{
    border-bottom: 3px solid #24A19C;
    color: #24A19C;
}
.info{
    width: 70%;
    float: right;
    text-align: right;
}
.cerrar{
    width: 20%;
    text-align: left;
}

.content{
    /* margin-top: 30px; */
    /* padding: 10px; */
    background-color: #fff;
}

/* -------------------------------------------------------------------- */
footer{
    padding-top: 10px;
}
.icons a{
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
    color: #325288;
}
.icons-index a{
    color: #fff;
}
.gde{
    font-size: 18px;
}
.justify{
    text-align: justify;
}
.footer-form{
    background-color: #325288;
    color: #fff;
    padding-top: 10px;
}
.footer-form .icons a{
    color: #fff;
}
.footer-form .icons a:hover{
    color: #D96098;
}

.not-found{
    margin-top: 100px;
}
.not-found h1{
    font-size: 80px;
}
.not-found p{
    font-size: 20px;
}

.graf1{
    /* width: 20%; */
    background-color: #24A19C;
    float: right;
}
.enlaces a{
    margin-left: 15px;
    padding: 10px;
    background-color: #325288;
    color: #fff;
    text-decoration: none;
}
.enlaces a:hover{
    color: #24A19C;
}